.Display{
    width: 100%;
    height: 2.5em;
    background-color: var(--bgColor);
    color: var(--lightColor);    
    text-align: right;
    padding-top: 1em;
    border:2px solid var(--bgColor);    
}